In [1]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [2]:
RAND = 1

In [3]:
data = pd.read_csv("./data.csv")
data.head()

           X         Y  Class
0  11.971797 -7.504889      3
1  -8.277160  3.589366      2
2   6.159895 -3.174328      3
3  -8.445008  3.845746      2
4  -8.012580  2.902211      2

In [4]:
X = data.drop(columns=['Class']).values
y = data['Class'].values

(X.shape, y.shape)

((5000, 2), (5000,))

In [5]:
(
  np.round([X[0].min(), X[0].max()], 2),
  np.round([X[1].min(), X[1].max()], 2)
)

(array([-7.5 , 11.97]), array([-8.28,  3.59]))

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.1, stratify=y, random_state=RAND, shuffle=True)
(x_train.shape, x_test.shape)

((4500, 2), (500, 2))

In [7]:
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

y_hat = model.predict(x_test)
print(classification_report(y_test, y_hat))

              precision    recall  f1-score   support

           0       0.88      0.91      0.90       125
           1       0.93      0.90      0.91       125
           2       0.98      0.98      0.98       125
           3       0.83      0.82      0.83       125

    accuracy                           0.91       500
   macro avg       0.91      0.91      0.91       500
weighted avg       0.91      0.91      0.91       500